*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;

}
.logo{
	text-decoration: none;
	color: black;
	font-size: 2em;
	font-weight: bold;
}
a:hover{
	text-decoration: none;
	color: black;
}
a{
	text-decoration: none;
	color: black;
}
.dark a{
	text-decoration: none;
	color:white;

}
.dark a:link{
	text-decoration: none;
	color:white;
}
.dark a:visited{
	text-decoration: none;
	color:white;
}
a:visited{
	text-decoration: none;
	color:black;
}
.navbar-nav li{
	padding-right: 25px;
	font-size: 1.2em;
}
.table-subject{
	width: 80%;
	margin: 0 auto;
}
.article{
	text-align: center
}
.section h2{

}
.section{
	
}
.films{
	font-size: 1.5em;
	font-weight: bold;
	width: 60%;
}
.films img{
	padding:0;
	width: 70px;
	height: 100px;
	
}

.mood{
	text-align: center;
	font-size: 2em;
}
.mood img{
	width: calc(100%/2);
	height: calc(100%/2);
}
.container-fluid{

}

hr{
	margin-top: 2%;
	margin-bottom: 2%;
}

.quote{
	font-size: 1.5em;
	padding: 5% 2%;

}
.whoAmI{
	text-align: center;
	font-size: 1.7em;
}
.carousel-item img{
 
 height: calc(60%/3)
}
.carousel{
	width: 50%;
}

.dark-theme{
	background: #000;
}

.footer{
	text-align: center;
	margin: 0 auto;
	height: 150px;
	width: 100%;
	padding-top: 60px;
	font-size: 2em;
}
.footer a{
	margin: 50px;
}

.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: showElement;
    animation-duration: 1s;
    background: #2352dc;
    z-index:1;
}

@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }
    
    100% {
        opacity: 1;
        top: 0;
    }
}

@media (max-width: 768px){
	.films{
		width: 100%;
	}
	.list-group img{

	}
	.section{
		text-align: center;
	}
	.mood{
		font-size: 1em;
	}
	.carousel{
	width: 100%;
	}
	.fims{
	font-size: 1em;
	}


}